body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    background-color: #10002c;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header {
    position: relative;
    margin-bottom: 200px;
    z-index: 1;
}

.navbar {
    padding: 1rem 2rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left img {
    height: 15%;
    width: 15%;  
    margin-left: 7rem;
}

.navbar-brand {
    font-size: 2rem;
    color: rgb(255, 59, 0);
}

.menu-items {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding-right: 10%;
}

.menu-items li {
    display: flex;
    align-items: center;
}

.menu-items li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    display: flex; 
}

.menu-items li a::after {
    content: "";
    position: absolute;
    bottom: -3px; /* Adjust as needed to position the line properly */
    left: 50%;
    width: 0;
    height: 2px; /* Adjust thickness of the line */
    background-color: transparent;
    transition: width 0.3s ease;
}

.menu-items li a:hover::after {
    width: 100%;
    left: 0;
    background-color: rgb(255, 59, 0);
}

.menu-items li i {
    margin-right: 0.8rem;
}

.home-content {
    padding-top: 100px;
    text-align: center;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0; /* Initially hide the content */
    transform: translateY(100px); /* Move the content down */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.home-content.show {
    opacity: 1; /* Show the content */
    transform: translateY(0);
}
.name {
    display: flex;
    align-items: center;
}

.name h1 {
    margin: 0; 
    font-size: 3rem;
}

.name h1:first-child {
    margin-right: 10px; 
}


.para p{
    font-size: 1.8rem;
    padding-left: 25%;
    padding-right: 25%;
}
.buttons {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 20px 30px;
    background-color: rgb(222, 79, 36);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

.button:hover {
    background-color: rgb(255, 90, 0); 
    color: black;
}

/*projects */
.projects {
    position: relative; 
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding-bottom: 100px;
}

.projects:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: white; 
    transform: skewY(-3deg); /* Adjusted transformation for the desired effect */
}

.projects h1 {
    padding-top: 50px;
    display: inline-block; /* Make the <h1> elements inline-block to align them horizontally */
    font-size: 3rem;
    font-family:  Verdana sans-serif;
    margin-right: 15px; 
}
.pro-effect{
    opacity: 0; /* Initially hide the content */
    transform: translateY(100px); /* Move the content down */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.pro-effect.show {
    opacity: 1; /* Show the content */
    transform: translateY(0);
}
.project {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 1000px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.project-image {
    order: 1; /* For alternating layout */
}
.project-details {
    order: 2; /* For alternating layout */
}

.project-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-right: 20px;
}

.project-image img {
    width: 500px;
    height: 100%;
    border-radius: 10px;
}

.project-details {
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.project-details h2 {
    font-size: 1.2rem;
    text-align: justify;
}

.project-details p {
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5;
}

.pro-button {
    display: inline-block;
    padding: 10px 20px;
    width: 90px;
    background-color: rgb(222, 79, 36);
    color: white;
    text-decoration: none;
    border-radius: 5px;

}

.pro-button:hover {
    background-color: rgb(255, 90, 0);
    color: black;
}
.icons {
    display: flex;
    align-items: center;
    
}

.icons i {
    margin-left:10px;
    font-size: 1.5rem;
    transition: font-size 0.3s;
}
.icons i:hover {
    font-size: 2rem; /* Increase size on hover */
}
.icons p{
    color: rgb(154, 154, 154)
}

/* Colors for the icons */
.icons .fa-python {
    color: #3776AB; /* Python blue */
}
.icons .fa-cubes {
    color: #013243; /* NumPy color */
}
.icons .fa-brain {
    color: #F9A825; /* Deep Learning yellow */
}
.icons .fa-youtube{
    color:rgb(255, 59, 0)
}
.icons .fa-chart-line{
    color: #00bfff;
}
.icons .fa-database{
    color: #008080;
}
.icons .fa-car{
    color: #4c4c4c;
}
.icons .fa-html5{
    color: #E34F26;
} 
.icons .fa-css3-alt{
    color: #1572B6;
}
.icons .fa-js-square{
    color: #F7DF1E;
}
.icons .fa-github {
    color: #000000; /* Deep Learning yellow */
}

/*skills */
.skills {
    position: relative; 
    text-align: center;
    align-items: center;
    display: flex;
    color: white;
    flex-direction: column;
}

.skills h1 {
    padding-top: 50px;
    display: inline-block; /* Make the <h1> elements inline-block to align them horizontally */
    font-size: 3rem;
    font-family:  Verdana sans-serif;
    margin-right: 15px; 
}

.skills-icons {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.skills-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 1000px;
    padding: 20px;
}
.icon-container{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    transition: transform 0.3s ease; 
}
.icon-container:hover {
    transform:scale(1.3) ;
}

.icon-container img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.icon-container span {
    font-size: 1rem; 

}

/*experience*/
.experience {
    position: relative; 
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top:100px;
    padding-bottom:50px;
}

.experience:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: white; 
    transform: skewY(-3deg);
    height: 105%;
}

.experience-title {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-title h1 {
    font-size: 3rem;
    font-family: Verdana sans-serif;
    margin-right: 15px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: rgb(211, 210, 210);
    border-radius: 1px;
    top: 0;
    bottom: 0;
    left: 50%;
}

.timeline-item {
    padding: 20px 40px;
    position: relative;
    width: 45%;
}

.timeline-item.left {
    left: 0;
}

.timeline-item.right {
    left: 50%;
}

.timeline-item .timeline-content {
    position: relative;
    background-color: #200444;
    padding: 20px;
    border-radius: 6px;
}

.timeline-item.left .timeline-content::after {
    content: '';
    position: absolute;
    top: 15px;
    right: -15px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #1e0633;
}

.timeline-item.right .timeline-content::after {
    content: '';
    position: absolute;
    top: 15px;
    left: -15px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #1e0633 transparent transparent;
}

.company-logo-left{
    justify-content: center;
    align-items: center;
    padding-left: 85%;
    margin-bottom: 10px;
}

.company-logo-left img {
    width: 100px;
    height: auto;
    border-radius: 50%;

}
.company-logo-right{
    justify-content: center;
    align-items: center;
    padding-right: 105%;
    margin-bottom: 10px;
}

.company-logo-right img {
    width: 100px;
    height: auto;
    border-radius: 50%;

}
.description-box h2 {
    margin-top: 5px;
    font-size: 2rem;
    text-align: left;
}
.description-box h3{
    font-size: 1.5rem;
    color: rgb(255, 53, 53);
    margin-top: 10px;
    text-align: left;

}

.description-box p {
    margin-bottom: 10px;
    font-size: 1rem;
    text-align: justify;

}

@media screen and (max-width: 768px) {
    .timeline-item {
        width: 100%;
        left: 0;
    }

    .timeline-item.right {
        left: 0;
    }

    .timeline::after {
        left: 20px;
    }

    .timeline-item .timeline-content {
        margin-left: 40px;
    }

    .timeline-item.right .timeline-content::after {
        left: -15px;
    }
}

/*educations */
.education {
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}
.education-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.education-title h1 {
    font-size: 3rem;
    font-family: Verdana sans-serif;
    margin-right: 15px;
}

.education-box {
    position: relative;
    text-align: center;
    align-items: center;
    width: 800px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease; 
}
.education-box:hover {
    transform:scale(1.05) ;
    
}
.education-container{
    display: flex;
}
.education-container img{
    height: 200px;
    width: auto;
    margin: 25%;

    border-radius: 38%;
}
.education-item h2{
    font-size: 2rem;
}
.education-item h3{
    font-size: 1.5rem;
}
.education-item p{
    font-size: 20px;
}
/*contact */
.contact {
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-title h1 {
    font-size: 3rem;
    font-family: Verdana sans-serif;
    margin-right: 15px;
}
.contact-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

}
.contact-container{
    height: 200px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.contact-box {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    max-width: 1000px; 
}
.contact-box{
    opacity: 0; /* Initially hide the content */
    transform: translateY(100px); /* Move the content down */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.contact-box.show {
    opacity: 1; /* Show the content */
    transform: translateY(0);
}
.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 250px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: white; 
}
.contact-container i{
    color: rgb(255, 59, 0);
    font-size: 3.6rem;
}
.contact-container p{
    font-size: 30px;
}
.contact-container a{
    font-size: 18px;
    text-decoration: none;
    color:black;
}

/*footer*/
.footer{
    position: relative;    
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    color: white;
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 

}
.footer-left{
    display: flex;
    color: rgb(255, 59, 0);
}
.footer-left img{
    height: 15%;
    width: 15%;  
}

.footer-brand {
    font-size: 2rem;
    color: rgb(255, 59, 0);
    padding-top: 30px;
}
.footer-social{
    display: flex;
    justify-content: center; 
    align-items: center;

    
}
.footer-social a{
    font-size: 3rem;
    color: white;
    margin-right: 30px;
    transition: transform 0.6s ease; 
}
.footer-social a:hover {
    transform: translateY(-10px);
    color:rgb(255, 59, 0);

    
}

#scroll-to-top {
    position: fixed;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 59, 0);
    border-radius: 10px;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none; 
}
.scroll{
    font-size: 2rem;
    color: white;
    text-align: center;
    padding-top: 20%;
}


.social-box {
    position: fixed;
    left: -10%;
    transform: translateY(-50%);
    width: 200px;
    height: 60px;
    border-radius: 0 50px 50px 0;
    transition: left 0.3s ease-in-out;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding-right: 20px;
}

.linkedin-box {
    background-color: #0077B5; /* LinkedIn blue */
    top: 25%;
}

.github-box {
    background-color: #333; /* GitHub black */
    top: 33%;
}

.twitter-box {
    background-color: #1DA1F2; /* Twitter blue */
    top: 41%;
}

.instagram-box {
    background-color: #C13584; /* Instagram gradient pink */
    top: 49%;
}

.email-box {
    background-color: #D44638; /* Gmail red */
    top: 57%;
}

.social-box a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    width: 100%;
}

.social-box p {
    margin: 0;
    color: white;
    font-size: 20px;
    width: 85%;
    text-align: center;
}

.social-box i {
    font-size: 2rem;
    width: 15%;
    text-align: center; /* Center the icon within its container */
}

.social-box:hover {
    left: 0;
}
